body {
	margin: 0px;
	color: #333;
}

div[ng-view] {
	padding: 10px;
	overflow: auto;
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

.case {
	float: left;
	width: 250px;
	margin: 10px;
	position: relative;
	font-size: .8em;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 5px #999;
	list-style-type: none;

	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.case.dance > div.header {
	background: #acf;
}
.case.dance > div.header::after {
	border-top: solid 9px #acf;
}
.case.music > div.header {
	background: #fca;
}
.case.music > div.header::after {
	border-top: solid 9px #fca;
}
.case.drama > div.header {
	background: #ffa;
}
.case.drama > div.header::after {
	border-top: solid 9px #ffa;
}
.case > div.header {
	display: block;
	width: 250px;
	height: 200px;
	background: #abf;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.case > div.header::after {
	border-top: solid 9px #abf;
	border-left: solid 9px transparent;
	border-right: solid 9px transparent;
	border-bottom: solid 0px transparent;
	content: '';
	position: absolute;
	margin-top: 200px;
	margin-left: 30px;
}
.case > div.header:hover {
	opacity: .5;
}
.case > div.header:hover:before {
	content: 'Read Now';
	font-size: 1.5em;
	text-align: center;
	width: 250px;
	line-height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.case > div.content {
	padding: 10px;
	height: 150px;
	line-height: 1.1em;
}
.case > div.content > p.payment {
	text-align: center;
	font-size: 1.2em;
	color: #f80;
}
.case > div.footer {
	display: block;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #eee;
	padding: 5px;
	overflow: auto;
}
.case > div.footer > div {
	font-size: .6em;
	float: right;
	padding: 2px;
	color: #999;

	display: block;
	margin-left: 5px;
}
.case > div.footer > div:before {
	float: left;
	display: block;
	color: #fcc;
	margin-right: 2px;
}
.case > div.footer > div.likes:before {
	content: 'L:';
}
.case > div.footer > div.views:before {
	content: 'V:';
}
.case > div.footer > div.like {
	position: relative;
	width: 20px;
	cursor: pointer;
}
.case > div.footer > div.like:before,
.case > div.footer > div.like:after {
	position: absolute;
	content: "";
	left: 10px;
	top: 0;
	width: 10px;
	height: 16px;
	background: rgb(255, 150, 150);
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	   -moz-transform-origin: 0 100%;
	    -ms-transform-origin: 0 100%;
	     -o-transform-origin: 0 100%;
	        transform-origin: 0 100%;
}
.case > div.footer > div.like:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	   -moz-transform-origin: 100% 100%;
	    -ms-transform-origin: 100% 100%;
	     -o-transform-origin: 100% 100%;
	        transform-origin :100% 100%;
}