<div>
	<div>
		<div>
			<!--Sidebar content-->
			Search: <input ng-model="query">
			Sort by:
			<select ng-model="orderProp">
				<option value="-likes">最受歡迎</option>
				<option value="-views">熱門程度</option>
				<option value="name">發佈時間</option>
				<option value="-pay">報酬高低</option>
				<option value="-end">結案日期</option>
			</select>
		</div>
		<div>
			<!--Body content-->
			<ul class="cases">
				<li ng-repeat="case in cases | filter:query | orderBy:orderProp" class="case {{case.type}}">
					<div class="header">
						<img ng-src="{{case.image}}">
					</div>
					<div class="content">
						<div class="description">
							<h3>{{case.info.title}}</h3>
							<p>{{case.info.content}}</p>
						</div>
						<div class="detail">
							<p class="payment">{{case.payrange.1 | currency}}</p>
							<p class="time">表演時間 {{case.executeTime | date : format}}</p>
						</div>
					</div>
					<div class="footer">
						<div class="publish">{{case.publishTime | date: format}}</div>
						<div class="location">{{case.info.location}}</div>
						<div class="like"></div>
						<div class="likes">{{case.likes}}</div>
						<div class="views">{{case.views}}</div>
					</div>
				</li>
			<ul>
		</div>
	</div>
</div>